{% extends "base.html" %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <form>
        <br>Banco:<br>
			<input type="text" name="banco"/>
        <br>Agencia:<br>
			<input type="text" name="agencia"/>
        <br>Conta corrente:<br>
			<input type="text" name="contabancaria"/>
        <br>Codigo Auxiliar<br>
            <input type="text" name="codigoauxiliar">
    </form>

    <br>
    <button type="button" onclick="index.html"> inicio </button>
    <button type="button" onClick="l"> Cadastrar</button>
    <button type="button" onclick="">Limpar</button>
    {% endblock %}
</body>
</html>