

{% extends "base.html" %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{% block content %}

{% for row in rv%}
{{row.0}}<br>
{{row.1}}<br>
{{row.2}}<br>
{{row.3}}<br>
{{row.4}}<br>
{{row.5}}<br>
{{row.6}}<br>
{{row.7}}<br>
{{row.8}}<br>
{{row.9}}<br>
{{row.10}}<br>
{{row.11}}<br>
{{row.12}}<br>
{{row.13}}<br>
{{row.14}}<br>
{{row.15}}<br>
{{row.16}}<br>
{{row.17}}<br>
{{row.18}}<br>
{{row.19}}<br>
{{row.20}}<br>
{{row.21}}<br>
{{row.22}}<br>
{{row.23}}<br>
{{row.24}}<br>
{{row.25}}<br>
{{row.26}}<br>
{{row.27}}<br>
{{row.28}}<br>
{{row.29}}<br>
{{row.30}}<br>
{{row.31}}<br>

<br>


{%endfor%}

<!--
<body>
    <table> 
        {% for row in rv %}
    <tr>
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        <td>{{row.4}}</td>
        <td> 
            <a href="" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modaledittransportadora">Editar</a>
            <a href="" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja apagar')">Apagar</a>  
        </td>
    </tr>
        {% endfor %}



    </table>
</body>
-->

</html>
{% endblock %}
-->