

{% extends "base.html" %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{% block content %}

{% for row in rv%}

{{row.idcliente}}<br>
{{row.razao_social}}<br>
{{row.endereco}}<br>
{{row.CNPJ}}<br>
{{row.bairro}}<br>

<br>


{%endfor%}

<!--
<body>
    <table> 
        {% for row in rv %}
    <tr>
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        <td>{{row.4}}</td>
        <td> 
            <a href="" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modaledittransportadora">Editar</a>
            <a href="" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja apagar')">Apagar</a>  
        </td>
    </tr>
        {% endfor %}



    </table>
</body>
-->

</html>
{% endblock %}
-->